<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CR Calculator</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
	<div class="container-fluid" id="monster">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<form @submit="submitMonster(monsterInput)">
					<div class="mon-stat-block">
						<div class="mon-stat-block__header">
							<div class="mon-stat-block__name">CR Calculator</div>
							<div class="mon-stat-block__meta">
								<span>Size</span>
								<select v-model="monsterInput.size" required>
									<option value="TINY">Tiny</option>
									<option value="SMALL">Small</option>
									<option value="MEDIUM">Medium</option>
									<option value="LARGE">Large</option>
									<option value="HUGE">Huge</option>
									<option value="GARGANTUAN">Gargantuan</option>
								</select>
							</div>
							<div class="mon-stat-block__separator">
								<img class="mon-stat-block__separator-img" alt src="images/stat-block-header-bar.svg">
							</div>
							<div class="mon-stat-block__attributes">
								<div class="mon-stat-block__attribute">
									<span class="mon-stat-block__attribute-label">Armor Class</span>
									<span class="mon-stat-block__attribute-value">
										<input type="number" min="1" max="25" v-model.number="monsterInput.armorClass" required>
									</span>
								</div>
								<div class="mon-stat-block__attribute">
									<span class="mon-stat-block__attribute-label">Number of hit dice</span>
									<span class="mon-stat-block__attribute-value">
										<input type="number" min="1" max="35" v-model.number="monsterInput.numberOfHitDice" required>
									</span>
								</div>
							</div>
							<div class="mon-stat-block__stat-block">
								<div class="mon-stat-block__separator">
									<img class="mon-stat-block__separator-img" alt src="images/stat-block-header-bar.svg">
								</div>
								<div class="ability-block">
									<div class="ability-block__stat ability-block__stat--str">
										<div class="ability-block__heading">STR</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.strength.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
									<div class="ability-block__stat ability-block__stat--dex">
										<div class="ability-block__heading">DEX</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.dexterity.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
									<div class="ability-block__stat ability-block__stat--con">
										<div class="ability-block__heading">CON</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.constitution.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
									<div class="ability-block__stat ability-block__stat--int">
										<div class="ability-block__heading">INT</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.intelligence.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
									<div class="ability-block__stat ability-block__stat--wis">
										<div class="ability-block__heading">WIS</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.wisdom.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
									<div class="ability-block__stat ability-block__stat--cha">
										<div class="ability-block__heading">CHA</div>
										<div class="ability-block__data">
											<span class="ability-block__score">
												<input type="number" min="1" max="30" v-model.number="monsterInput.charisma.abilityScore" required>
											</span>
											<span class="ability-block__modifier">( )</span>
										</div>
									</div>
								</div>
								<div class="mon-stat-block__separator">
									<img class="mon-stat-block__separator-img" alt src="images/stat-block-header-bar.svg">
								</div>
							</div>
							<div class="mon-stat-block__tidbits">
								<div class="mon-stat-block__tidbit-container">
									<div class="mon-stat-block__tidbit">
										<span class="mon-stat-block__tidbit-label">Challenge</span>
										<span class="mon-stat-block__tidbit-data">
											<select v-model="monsterInput.challengeRating" required>
												<option v-for="challengeRating in challengeRatings" v-bind:value="challengeRating">{{challengeRating.value}} ({{challengeRating.experiencePoints}} XP)</option>
											</select>
										</span>
									</div>
									<div class="mon-stat-block__tidbit-spacer"></div>
									<div class="mon-stat-block__tidbit">
										<span class="mon-stat-block__tidbit-label">Proficiency Bonus</span>
										<span class="mon-stat-block__tidbit-data">-</span>
									</div>
								</div>
							</div>
							<div class="mon-stat-block__separator">
								<img class="mon-stat-block__separator-img" alt src="images/stat-block-header-bar.svg">
							</div>
							<div class="mon-stat-block__description-blocks">
								<div class="mon-stat-block__description-block">
									<div class="mon-stat-block__description-block-heading">Actions</div>
									<div class="mon-stat-block__description-block-content">
										<button type="button" @click="addAction()" class="btn btn-danger btn-sm mb-2"><i class="bi bi-plus-lg"></i></button>
										<ul class="list-group bg-transparent">
											<li v-for="action in monsterInput.actions" class="list-group-item bg-transparent">
												<div class="attacks-heading">Attacks</div>
												<button type="button" @click="addAttack(action)" class="btn btn-danger btn-sm mb-2"><i class="bi bi-plus-lg"></i></button>
												<ul class="list-group bg-transparent">
													<li v-for="attack in action.attacks" class="list-group-item bg-transparent">
														<div class="form-group mb-2">
															<em>
																<strong>Number per Round</strong>
															</em>
															<input type="number" min="1" max="5" v-model.number="attack.numberPerRound" required>
														</div>
														<div class="form-group mb-2">
															<em>
																<strong>Ability</strong>
															</em>
															<select v-model="attack.relevantAbility" required>
																<option value="STRENGTH">Strength</option>
																<option value="DEXTERITY">Dexterity</option>
															</select>
														</div>
														<div class="form-group mb-2">
															<em>
																<strong>Damage</strong>
															</em>
															<input type="number" min="1" max="4" v-model.number="attack.baseDamage.numberOfDice" required>
															<select v-model="attack.baseDamage.die" required>
																<option v-for="die in dice" v-bind:value="die">{{die.name}}</option>
															</select>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="d-grid col-4 mx-auto">
							<button type="submit" class="btn btn-danger mt-3"><b>Calculate</b></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="app/app.js"></script>
</body>
</html>